<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Se requiere acceso a la cámara para tomar fotos.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>Se requiere acceso al micrófono para grabar audio.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Se requiere acceso a la ubicación para determinar su posición actual.</string>

	<key>NSLocationAlwaysUsageDescription</key>
	<string>Se requiere acceso a la ubicación para determinar su posición actual.</string>

	<key>NSContactsUsageDescription</key>
	<string>Se requiere acceso a los contactos para mostrar la lista de contactos.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>Se requiere acceso a la biblioteca de fotos para seleccionar una imagen.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Se requiere acceso para guardar fotos en la biblioteca de fotos.</string>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Se requiere acceso para utilizar Bluetooth.</string>

	<key>NSCalendarsUsageDescription</key>
	<string>Se requiere acceso a los calendarios para mostrar eventos.</string>

	<key>NSMotionUsageDescription</key>
	<string>Se requiere acceso a los datos de movimiento para determinar la actividad física.</string>

	<key>NSAppleMusicUsageDescription</key>
	<string>Se requiere acceso a la biblioteca de música para reproducir canciones.</string>

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Se requiere acceso al reconocimiento de voz para realizar acciones basadas en voz.</string>

	<key>NSRemindersUsageDescription</key>
	<string>Se requiere acceso a los recordatorios para mostrar tareas pendientes.</string>

	<key>NSHealthUpdateUsageDescription</key>
	<string>Se requiere acceso a los datos de salud para registrar actividades.</string>

	<key>NSHealthShareUsageDescription</key>
	<string>Se requiere acceso a los datos de salud para mostrar información.</string>

	<key>NSSiriUsageDescription</key>
	<string>Se requiere acceso a Siri para realizar acciones mediante comandos de voz.</string>

	<key>NSFaceIDUsageDescription</key>
	<string>Se requiere acceso a Face ID para autenticación biométrica.</string>

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Se requiere acceso para utilizar dispositivos Bluetooth.</string>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string> <!-- Otras opciones según tus necesidades -->
	</array>
</dict>
</plist>
